# [v1] - Exploratory Data Analysis/EDA (Data understanding)

> The notebook goal is to create a general *Exploratory Data Analysis (EDA)* on all Dataset features.

However, no preprocessing or modeling will be created here. Just:

 - Analysis.
 - Hypothesis.
 - Observations.

---

## Dataset Overview

In [1]:
import pandas as pd

# For Linux users.
train_df = pd.read_csv("../datalake/landing/Train_rev1.csv")

In [2]:
train_df.head()

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,"Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 30000/annum 25K-30K negotiable,27500,cv-library.co.uk
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...","Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244768 entries, 0 to 244767
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Id                  244768 non-null  int64
 1   Title               244767 non-null  object
 2   FullDescription     244768 non-null  object
 3   LocationRaw         244768 non-null  object
 4   LocationNormalized  244768 non-null  object
 5   ContractType        65442 non-null   object
 6   ContractTime        180863 non-null  object
 7   Company             212338 non-null  object
 8   Category            244768 non-null  object
 9   SalaryRaw           244768 non-null  object
 10  SalaryNormalized    244768 non-null  int64
 11  SourceName          244767 non-null  object
dtypes: int64(2), object(10)
memory usage: 22.4+ MB

See we have a big dataset with:

- 244.768 samples.
- And 12 features.

## Check text features

In [4]:
pd.options.display.max_colwidth = 100000

In [5]:
Title_df = train_df[['Title']].copy()
Title_df

                                                      Title
0                               Engineering Systems Analyst
1                                   Stress Engineer Glasgow
2                          Modelling and simulation analyst
3       Engineering Systems Analyst / Mathematical Modeller
4                Pioneer, Miser Engineering Systems Analyst
...                                                     ...
244763                                   TEACHER OF SCIENCE
244764                  TEACHER OF BUSINESS STUDIES AND ICT
244765                                      ENGLISH TEACHER
244766                                      SUPPLY TEACHERS
244767                                           Accountant

[244768 rows x 1 columns]

In [6]:
FullDescription_df = train_df[['FullDescription']].copy()
FullDescription_df

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               FullDescription
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Engineering Systems Analyst Dorking Surrey Salary ****K Our client is located in Dorking, Surrey and are looking for Engineering Systems Analyst our client provides specialist software development Keywords Mathematical Modelling, Risk Analysis, System Modelling, Optimisation, MISER, PIONEEER Engineering Systems Analyst Dorking Surrey Salary ****K
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Stress Engineer Glasgow Salary **** to **** We re currently looking for talented engineers to join our growing Glasgow team at a variety of levels. The roles are ideally suited to high calibre engineering graduates with any level of appropriate experience, so that we can give you the opportunity to use your technical skills to provide high quality input to our aerospace projects, spanning both aerostructures and aeroengines. In return, you can expect good career opportunities and the chance for advancement and personal and professional development, support while you gain Chartership and some opportunities to possibly travel or work in other offices, in or outside of the UK. The Requirements You will need to have a good engineering degree that includes structural analysis (such as aeronautical, mechanical, automotive, civil) with some experience in a professional engineering environment relevant to (but not limited to) the aerospace sector. You will need to demonstrate experience in at least one or more of the following areas: Structural/stress analysis Composite stress analysis (any industry) Linear and nonlinear finite element analysis Fatigue and damage tolerance Structural dynamics Thermal analysis Aerostructures experience You will also be expected to demonstrate the following qualities: A strong desire to progress quickly to a position of leadership Professional approach Strong communication skills, written and verbal Commercial awareness Team working, being comfortable working in international teams and self managing PLEASE NOTE SECURITY CLEARANCE IS REQUIRED FOR THIS ROLE Stress Engineer Glasgow Salary **** to ****
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Mathematical Modeller / Simulation Analyst / Operational Analyst Basingstoke, Hampshire Up to ****K AAE pension contribution, private medical and dental The opportunity Our client is an independent consultancy firm which has an opportunity for a Data Analyst with 35 years experience. The role will require the successful candidate to demonstrate their ability to analyse a problem and arrive at a solution, with varying levels of data being available. Essential skills Thorough knowledge of Excel and proven ability to utilise this to create powerful decision support models Experience in Modelling and Simulation Techniques, Experience of techniques such as Discrete Event Simulation and/or SD modelling Mathematical/scientific background  minimum degree qualified Proven analytical and problem solving skills Self Starter Ability to develop solid working relationships In addition to formal qualifications and experience, the successful candidate will require excellent written and verbal communication skills, be energetic, enterprising and have a determination to succeed. They will be required to build solid working relationships, both internally with colleagues and, most importantly, externally with our clients. They must be comfortable working independently to deliver against challenging client demands. The offices are located in Basingstoke, Hampshire, but our client work for clients worldwide. The successful candidate must therefore be prepared to undertake work at client sites for short periods of time. Physics, Mathematics, Modelling, Simulation, Analytical, Operational Research, Mathematical Modelling Mathematical Modeller / Simulation Analyst / Operational Analyst Basingstoke, Hampshire ****K AAE pension contribution, private medical and dental
3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Engineering Systems Analyst / Mathematical Modeller. Our client is a highly successful and respected Consultancy providing specialist software development MISER, PIONEER, Maths, Mathematical, Optimisation, Risk Analysis, Asset Management, Water Industry, Access, Excel, VBA, SQL, Systems . Engineering Systems Analyst / Mathematical Modeller. Salary  ****K****K negotiable Location Dorking, Surrey
4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     Pioneer, Miser  Engineering Systems Analyst Dorking  Surrey Salary ****K Located in Surrey, our client provides specialist software development Pioneer, Miser  Engineering Systems Analyst Dorking  Surrey Salary ****K
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...

---

## Check data types

In [7]:
train_df.dtypes

Id                     int64
Title                 object
FullDescription       object
LocationRaw           object
LocationNormalized    object
ContractType          object
ContractTime          object
Company               object
Category              object
SalaryRaw             object
SalaryNormalized       int64
SourceName            object
dtype: object

 - **See we have "object" as the most common data type:**
   - These "objects" represent texts (information) about the job advertisement.
   - We will probably need to apply data preprocessing to get insights from these texts.
 - **We have only two numerical features:**
   - **Id:** Job ad identification.
   - **SalaryNormalized:** Target variable.

---

## Check missing data

Here, let's check missing data by:

 - Numerical quantity.
 - Percent (%).

**Numerical quantity aproach:**

In [8]:
missingByQuantity = train_df.isnull().sum()
missingByQuantity

Id                         0
Title                      1
FullDescription            0
LocationRaw                0
LocationNormalized         0
ContractType          179326
ContractTime           63905
Company                32430
Category                   0
SalaryRaw                  0
SalaryNormalized           0
SourceName                 1
dtype: int64

**Percent (%) approach:**

In [9]:
missingByPercent = (missingByQuantity / len(train_df.index)) * 100
missingByPercent

Id                     0.000000
Title                  0.000409
FullDescription        0.000000
LocationRaw            0.000000
LocationNormalized     0.000000
ContractType          73.263662
ContractTime          26.108397
Company               13.249281
Category               0.000000
SalaryRaw              0.000000
SalaryNormalized       0.000000
SourceName             0.000409
dtype: float64

 - See that the features **ContractType**, **ContractTime**, and **Company** have more than 10% missing data.
 - The feature **ContractType** has more than 73% missing data:
   - That's a critical problem because features with more than 60% are almost null in model creation.

---

## Categorical Analysis

> Now, let's see some categorical analysis.

**Categorical Analysis for the "LocationNormalized" feature:**

In [10]:
from collections import Counter
c = Counter(train_df.LocationNormalized)
len(c.most_common())

2732

> **NOTE:**  
> See we have 2.732 different locations (categories).

Let's see some samples:

In [11]:
LocationNormalized_values = c.most_common(20)

In [12]:
# Check categories percent (%) + Missing data.
for category in LocationNormalized_values:
    percentCategory = (category[1] / len(train_df.index)) * 100
    print(f"'{category[0]}' has {category[1]} samples representing {round(percentCategory, 1)}% data.")

'UK' has 41093 samples representing 16.8% data.
'London' has 30522 samples representing 12.5% data.
'South East London' has 11713 samples representing 4.8% data.
'The City' has 6678 samples representing 2.7% data.
'Manchester' has 3516 samples representing 1.4% data.
'Leeds' has 3401 samples representing 1.4% data.
'Birmingham' has 3061 samples representing 1.3% data.
'Central London' has 2607 samples representing 1.1% data.
'West Midlands' has 2540 samples representing 1.0% data.
'Surrey' has 2397 samples representing 1.0% data.
'Reading' has 2187 samples representing 0.9% data.
'Bristol' has 2085 samples representing 0.9% data.
'Nottingham' has 1873 samples representing 0.8% data.
'Sheffield' has 1766 samples representing 0.7% data.
'Aberdeen' has 1634 samples representing 0.7% data.
'Hampshire' has 1557 samples representing 0.6% data.
'Belfast' has 1537 samples representing 0.6% data.
'East Sheen' has 1531 samples representing 0.6% data.
'Milton Keynes' has 1523 samples representing 0.6% data.
'Berkshire' has 1502 samples representing 0.6% data.

**Categorical Analysis for the "ContractType" feature:**

In [13]:
from collections import Counter
c = Counter(train_df.ContractType)
c.most_common()

[(nan, 179326), ('full_time', 57538), ('part_time', 7904)]

In [14]:
ContractType_values = c.most_common()

In [15]:
# Check categories percent (%) + Missing data.
for category in ContractType_values:
    percentCategory = (category[1] / len(train_df.index)) * 100
    print(f"The '{category[0]}' category has {category[1]} samples representing {round(percentCategory, 1)}% data.")

The 'nan' category has 179326 samples representing 73.3% data.
The 'full_time' category has 57538 samples representing 23.5% data.
The 'part_time' category has 7904 samples representing 3.2% data.

**Categorical Analysis for the "ContractTime" feature:**

In [16]:
from collections import Counter
c = Counter(train_df.ContractTime)
c.most_common()

[('permanent', 151521), (nan, 63905), ('contract', 29342)]

In [17]:
ContractTime_values = c.most_common()

In [18]:
# Check categories percent (%) + Missing data.
for category in ContractTime_values:
    percentCategory = (category[1] / len(train_df.index)) * 100
    print(f"The '{category[0]}' category has {category[1]} samples representing {round(percentCategory, 1)}% data.")

The 'permanent' category has 151521 samples representing 61.9% data.
The 'nan' category has 63905 samples representing 26.1% data.
The 'contract' category has 29342 samples representing 12.0% data.

**Categorical Analysis for the "Category" feature:**

In [19]:
from collections import Counter
c = Counter(train_df.Category)
Category_values = c.most_common()

In [20]:
# Check categories percent (%) + Missing data.
for category in Category_values:
    percentCategory = (category[1] / len(train_df.index)) * 100
    print(f"The '{category[0]}' category has {category[1]} samples representing {round(percentCategory, 1)}% data.")

The 'IT Jobs' category has 38483 samples representing 15.7% data.
The 'Engineering Jobs' category has 25174 samples representing 10.3% data.
The 'Accounting & Finance Jobs' category has 21846 samples representing 8.9% data.
The 'Healthcare & Nursing Jobs' category has 21076 samples representing 8.6% data.
The 'Sales Jobs' category has 17272 samples representing 7.1% data.
The 'Other/General Jobs' category has 17055 samples representing 7.0% data.
The 'Teaching Jobs' category has 12637 samples representing 5.2% data.
The 'Hospitality & Catering Jobs' category has 11351 samples representing 4.6% data.
The 'PR, Advertising & Marketing Jobs' category has 8854 samples representing 3.6% data.
The 'Trade & Construction Jobs' category has 8837 samples representing 3.6% data.
The 'HR & Recruitment Jobs' category has 7713 samples representing 3.2% data.
The 'Admin Jobs' category has 7614 samples representing 3.1% data.
The 'Retail Jobs' category has 6584 samples representing 2.7% data.
The 'Customer Services Jobs' category has 6063 samples representing 2.5% data.
The 'Legal Jobs' category has 3939 samples representing 1.6% data.
The 'Manufacturing Jobs' category has 3765 samples representing 1.5% data.
The 'Logistics & Warehouse Jobs' category has 3633 samples representing 1.5% data.
The 'Social work Jobs' category has 3455 samples representing 1.4% data.
The 'Consultancy Jobs' category has 3263 samples representing 1.3% data.
The 'Travel Jobs' category has 3126 samples representing 1.3% data.
The 'Scientific & QA Jobs' category has 2489 samples representing 1.0% data.
The 'Charity & Voluntary Jobs' category has 2332 samples representing 1.0% data.
The 'Energy, Oil & Gas Jobs' category has 2255 samples representing 0.9% data.
The 'Creative & Design Jobs' category has 1605 samples representing 0.7% data.
The 'Maintenance Jobs' category has 1542 samples representing 0.6% data.
The 'Graduate Jobs' category has 1331 samples representing 0.5% data.
The 'Property Jobs' category has 1038 samples representing 0.4% data.
The 'Domestic help & Cleaning Jobs' category has 291 samples representing 0.1% data.
The 'Part time Jobs' category has 145 samples representing 0.1% data.

**Categorical Analysis for the "SourceName" feature:**

In [21]:
from collections import Counter
c = Counter(train_df.SourceName)
SourceName_values = c.most_common(50)

In [22]:
# Check categories percent (%) + Missing data.
for category in SourceName_values:
    percentCategory = (category[1] / len(train_df.index)) * 100
    print(f"The '{category[0]}' category has {category[1]} samples representing {round(percentCategory, 1)}% data.")

The 'totaljobs.com' category has 48149 samples representing 19.7% data.
The 'cv-library.co.uk' category has 34279 samples representing 14.0% data.
The 'Jobcentre Plus' category has 17929 samples representing 7.3% data.
The 'jobsite.co.uk' category has 12225 samples representing 5.0% data.
The 'cwjobs.co.uk' category has 7011 samples representing 2.9% data.
The 'fish4.co.uk' category has 6016 samples representing 2.5% data.
The 'MyUkJobs' category has 5522 samples representing 2.3% data.
The 'ukstaffsearch.com' category has 4997 samples representing 2.0% data.
The 'jobs.guardian.co.uk' category has 4965 samples representing 2.0% data.
The 'technojobs.co.uk' category has 4638 samples representing 1.9% data.
The 'staffnurse.com' category has 4472 samples representing 1.8% data.
The 'caterer.com' category has 4256 samples representing 1.7% data.
The 'careworx.co.uk' category has 4228 samples representing 1.7% data.
The 'jobserve.com' category has 4176 samples representing 1.7% data.
The 'jobs.catererandhotelkeeper.com' category has 3691 samples representing 1.5% data.
The 'hays.co.uk' category has 3187 samples representing 1.3% data.
The 'cvbrowser.com' category has 2977 samples representing 1.2% data.
The 'gojobsearch.co.uk' category has 2871 samples representing 1.2% data.
The 'retailchoice.com' category has 2515 samples representing 1.0% data.
The 'theitjobboard.co.uk' category has 2496 samples representing 1.0% data.
The 'careers4a.com' category has 2413 samples representing 1.0% data.
The 'salestarget.co.uk' category has 2395 samples representing 1.0% data.
The 'london4jobs.co.uk' category has 2345 samples representing 1.0% data.
The 'theladders.co.uk' category has 2296 samples representing 0.9% data.
The 'careerbuilder.com' category has 2176 samples representing 0.9% data.
The 'GAAPweb' category has 1917 samples representing 0.8% data.
The 'rengineeringjobs.com' category has 1686 samples representing 0.7% data.
The 'jobs.telegraph.co.uk' category has 1557 samples representing 0.6% data.
The 'britishjobsonthe.net' category has 1449 samples representing 0.6% data.
The 'onlymarketingjobs.com' category has 1394 samples representing 0.6% data.
The 'simplysalesjobs.co.uk' category has 1377 samples representing 0.6% data.
The 'justengineers.net' category has 1372 samples representing 0.6% data.
The 'jobs.communitycare.co.uk' category has 1346 samples representing 0.5% data.
The 'careerstructure.com' category has 1251 samples representing 0.5% data.
The 'planetrecruit.com' category has 1197 samples representing 0.5% data.
The 'jobg8.com' category has 1139 samples representing 0.5% data.
The 'strike-jobs.co.uk' category has 1075 samples representing 0.4% data.
The 'TotallyLegal' category has 1006 samples representing 0.4% data.
The 'nijobs.com' category has 984 samples representing 0.4% data.
The 'jobs.newstatesman.com' category has 973 samples representing 0.4% data.
The 'Brand Republic Jobs' category has 962 samples representing 0.4% data.
The 'nijobfinder.co.uk' category has 946 samples representing 0.4% data.
The 'michaelpage.co.uk' category has 931 samples representing 0.4% data.
The 'jobsineducation.co.uk' category has 875 samples representing 0.4% data.
The 'Jobs Ac' category has 872 samples representing 0.4% data.
The 'recruitni.com' category has 847 samples representing 0.3% data.
The 'jobs4medical.co.uk' category has 838 samples representing 0.3% data.
The 'legalweekjobs.com' category has 825 samples representing 0.3% data.
The 'jobstoday.co.uk' category has 774 samples representing 0.3% data.
The 'jobsinscotland.com' category has 773 samples representing 0.3% data.

---

# Statistical Analysis

> Finally, let's do a brief **Statistical Analysis** on the dataset.

**Statistical Overview:**

In [23]:
train_df.describe()

                 Id  SalaryNormalized
count  2.447680e+05     244768.000000
mean   6.970142e+07      34122.577576
std    3.129813e+06      17640.543124
min    1.261263e+07       5000.000000
25%    6.869550e+07      21500.000000
50%    6.993700e+07      30000.000000
75%    7.162606e+07      42500.000000
max    7.270524e+07     200000.000000

First, let's ignore *"Id"* feature and focus only on *"SalaryNormalized"*:

 - *SalaryNormalized:*
   - The less salary (annual) was 5.000.
   - The highest salary (annual) was 200.000.
   - The salary (annual) *mean* was 34.122.
   - The salary (annual) *median* was 30.000:
     - Second quartile (Q2) or 50% of data.
     - See that, our *median* is not far from our *mean*.
   - The *Standard Deviation* was 17.640:
     - The *Standard Deviation* represents how far we are from the *mean*.

**Getting statistical "mode":** The describe() function doesn't return the "mode" from the data.

In [24]:
train_df.SalaryNormalized.mode()

0    35000
Name: SalaryNormalized, dtype: int64

**NOTE:**  
See that, our *mode* is not far from our *mean*.

**Getting the most common salaries:**  
Now, let's use the "Counter" class to get the top 10 most common salaries.

In [25]:
from collections import Counter
c = Counter(train_df.SalaryNormalized)
c.most_common(10)

[(35000, 9178),
 (30000, 8319),
 (40000, 7688),
 (45000, 6735),
 (25000, 6309),
 (32500, 6215),
 (37500, 5756),
 (27500, 5544),
 (50000, 5424),
 (42500, 4555)]

**NOTE:**  
 - See that the most common salary was 35.000 with 9.178 samples.
 - See also that the most common salary is not far from the mean.

---

Ro**drigo** **L**eite da **S**ilva - **drigols**